.connectContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.jazzicon {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 45px;
  width: 46px;
  padding-left: 0.05rem;
  padding-top: 0.03rem;
}

@media (max-width: 768px) {
  .jazzicon {
    height: 35px;
    width: 36px;
  }
  .connectBtn {
    font-size: 12px !important;
    padding: 6px 6px 6px 6px !important;
  }
}
