.walletListWrapper {
  border: black 1px solid;
  border-radius: 8px;
  margin-bottom: 20px;
}

.walletListShowMoreOptions {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.walletListShowMoreOptions p {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  color: black;
}
