.walletListingWrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: black 1px solid;
  padding: 15px;
}
.walletIconBackground {
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  position: relative;
  left: -5px;
}

.walletListingIcon {
  padding-right: 15px;
  width: 32px;
}

.walletListingName {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 15px;
}
