.collectionContainer{
   height: 200px;
   background-color: #C4C4C4;
   border-radius: 11px;
   border: 1px solid black;
   position: relative;

   &.clickable {
      cursor: pointer;
   }
}

.collectionImageContainer{
   height: 200px;
   overflow: hidden;
   border-radius: 10px;
}

.collectionNameContainer{
   display: flex;
   background-color: #666666;
   border-radius: 0px 0px 10px 10px;
   color: white;
   width: 100%;
   position: absolute;
   bottom: 0;
}

.collectionName{
   width: 100%;
   margin: 0px 10px
}

.grow {
   flex-grow: 1;
}